*{
    background: linear-gradient(90deg, #3968af, #a01d1d);
    background-size: 2000px 2000px ;
    background-repeat: no-repeat;
    
}

.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;;
}

.item-completed:checked + .item-description {
    background: #8481e0;
    text-decoration: line-through;
}

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: #ffffff;
    background: #595a94;
    cursor: pointer;
}